html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */

a {
    text-decoration: none;
    color: black;
    transition: color .3s ease-out;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-top {
    padding-top: 10px;
    background: rgb(63, 94, 251);
    background: linear-gradient(320deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.header-top-first,
.header-top-second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header-top-first {
    padding: 20px;
    border-bottom: 2px solid #e5e5e5;
}

.header-top-first span {
    margin-right: 20px;
}

.header-top-second {
    padding: 30px;
}

.nav-top {
    display: flex;
    gap: 20px;
}

.header-container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
}

.search {
    width: 400px;
    padding: 15px 0px 15px 45px;
    background-color: #e5e5e5;
    border: 1px solid transparent;
    background-image: url('../assets/img/lupa.png');
    background-position-x: 15px;
    background-position-y: 15px;
    background-size: 20px;
    background-repeat: no-repeat;
}

input[type="submit"] {
    margin: -5px;
    padding: 15px 20px;
    color: white;
    background-color: black;
    border: none;
}

.search:focus {
    border: 1px solid black;
    outline: none;
}

.masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 800px;
    background-image: url('../assets/img/backgoundcolours.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    max-width: 700px;
}

.text-container h1 {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 25px;
}

.text-container h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}

.text-container p {
    font-size: 16px;
    margin-bottom: 30px;
}


